{% extends "layouts/main.html" %}

{% block content %}
  <h2>Your Feeds</h2>
  <p>
    This is a list of all timelines available on your account and a feed URL
    that can be added to your RSS reader.
  </p>
  <p>
      <b>Please keep these feed URLs safe! They are similar to passwords, as
      they grant access to sensitive information.</b>
  </p>
  <p>
    Your timeline may contain posts that are
    marked as follower-only and/or contain sensitive information that the
    author may not wish to share with prying eyes. If you believe any of your
    timeline URLs may have been compromised, you may generate a new URL by
    clicking on the ↻ button.
  </p>
  <p>
      Lastly, if you've had enough of this and want out: <a href="/auth/delete">click here</a> to delete your account and all associated data from the database.
  </p>
  <div class="timelines">
      {% for timeline in timelines %}
          <div class="timeline">
              <div class="timeline--name">
                  {{timeline.title}}
              </div>
              <div class="timeline--details">
                  <input disabled type="text" value="{{timeline.rss_url()}}" />
                  <form method="POST" action="/timelines/{{timeline.id}}/regenerate-url">
                      <input type="submit" value="↻" title="Regenerate feed URL" />
                  </form>
                  <button class="timeline--copy" data-url="{{timeline.rss_url()}}" title="Copy to clipboard">📋</button>
              </div>
          </div>
      {% endfor %}
  </div>
  <script>
  function copyToClipboard(e) {
    const url = e.target.getAttribute('data-url');
    navigator.clipboard.writeText(url)
      .then(() => {
        e.target.innerText = '✅';
        e.target.disabled = true;
        setTimeout(() => {
          e.target.innerText = '📋';
          e.target.disabled = false;
        }, 1000);
      }, () => {
        alert('Could not write to clipboard');
      });
  }
  document.querySelectorAll('.timeline--copy').forEach((el) => {
    el.addEventListener('click', copyToClipboard);
  })
  </script>

{% endblock %}
