<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}FeeDon{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        <div class="content">
            <h1>FeeDon</h1>
            <nav>
                {% if g.current_user %}
                <ul>
                    <li><a href="/timelines">Your Feeds</a></li>
                    <li><a href="/auth/logout">Logout</a></li>
                </ul>
                <ul>
                    <li>{{g.current_user.handle}}@{{g.current_user.instance_domain}}</li>
                </ul>
                {% endif %}
            </nav>
            <hr />
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="content">
                    <ul class="flash">
                        {% for message in messages %}
                            <li>{{message}}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <footer>
            FeeDon is &copy;2023 <a href="https://www.stevegattuso.me">Steve Gattuso</a> and is released under the <a href="https://git.sr.ht/~vesto/feedon-this/tree/main/item/LICENSE.txt">GNU GPL v3 License</a>.
        </footer>
    </body>
</html>
